/* Flex */
.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-item-1 {
	flex: 1;
}

/* Flex Item */
.item {
	margin: 5px;
	background: rgb(35, 15, 88);
	text-align: center;
	font-size: 1.5em;
    color: rgb(255, 255, 255);
    height: 10rem;
    width: 30rem;
    justify-content: center;
    line-height: 160px;
    border-radius: 5px;

    
}

.container {
    justify-content: center;
	max-width: 80%;
	margin: 0 auto;
	border: 1px solid #ccc;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: sans-serif;
	color: #333;
}